@import './variables/reset';
@import './variables/colors';
@import './variables/button';
@import './variables/fonts';
@import './variables/typography';

@import './section/section-logo.scss';
@import './section/section-data.scss';
@import './section/section-action.scss';
@import './section/section-alert.scss';

body{
    // overflow: hidden;
    font-family: 'Poppins';
    color: $primary;
}

.site-wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;

    .container{
        padding: 0px 50px;

        @media only screen and (max-width: 768px) {
            padding: 0px 10px;
        }
    }

    &.overflow-h{
        overflow: hidden;
    }
}