.text{
    &--red-primary{
        color: #c0392b;
    }

    &--green-primary{
        color: #27ae60;
    }

    &--orange-primary{
        color: #e67e22;
    }

    &--grey-primary{
        color: #7f8c8d;
    }   
}